<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form id="signup-form">
        <div id="container"><br>
         <center><h3>Create an account on <span> TaskUp</span>
         </h3></center><br>
        <label for="name">Name:</label>
        <input type="text" id="username"><br><br>
        <label for="password">Password :</label>
        <input type="password" id="password"><br><br>
        <label for="confirmpassword">Confirm Password :</label>
        <input type="password" id="confirmedp"><br><br>
        <label for="email">Email : </label>
        <input type="email" id="email"><br><br>
        <center><button type="submit" id="submitbutton">SignUp!</button></center>
<br>
        <center><p id="next"> Already have an account? <a href="/signin">Sign in</a></p></center>
    </div>
</form>
    <script>


            document.getElementById('signup-form').addEventListener('submit',async function (event) {

                try{
                    
            event.preventDefault();
            const username=document.getElementById('username').value.trim();
            const password=document.getElementById('password').value;
            const confirmedp=document.getElementById('confirmedp').value;
            const email=document.getElementById("email").value;
            console.log(password,username,confirmedp)
            if(!username || !password){
                alert("Username and password must exist");
                return;
            }
            else if(password!=confirmedp) {
                alert('Passwords Must Match');
                return console.log("Password must match") 
            }
            else{
            //  console.log(username);
            //  console.log(password);
            const url='http://localhost:3000/signup';
            const response=await fetch(url,{ method: 'POST',headers:{ 'Content-Type':'application/json' },body:JSON.stringify({username:username,password:password,email:email})});
            
            if(!response.ok){
                const errordata=await response.json();
                throw new Error(errordata.message||'Server Error during registration');


            }
            const data=await response.json();
            sessionStorage.setItem('JWT_TOKEN',data.token);
            alert(data.message);
            console.log('Server response payload:',data)

            }
                } catch (error) {
    console.log('Signup faild:',error);
    alert(error.message || "can't connnect to server")
};


        })


    </script>
</body>
</html>